body {
  margin: 0px;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#222831;

 color:#222831;
 display: inline-flex;
 flex-wrap: wrap;
 width:100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.arrangefeatures{
 display:inline-flex;
justify-content:center;
 flex-wrap: wrap;
 width:100%;

 flex-direction: row;
background-color:#76ABAE;

 border-color: white;
 padding-top: 2%;
 padding-left:2%;
 padding-right:2%;
}
.arrangefeatures button{
  font-size: 1em;
  width:5em;
 background-color:#222831;
 color:#EEEEEE;
 height:fit-content;
  border-color: #76ABAE;
margin:5px;
 font-weight: bold;
border-radius: 30px;
padding:5px;
border:1px solid #EEEEEE;
 }

input{
  background-color: #222831;
  border:2px solid  #76ABAE;

  margin-left:2%;
  margin-right: 1%;
  
  
  
}
p{
  margin-left:2%;
  padding:0;
}
.colu{
  display:flex;
  flex-direction:column;
  position:absolute;
 top:27%;
 left:85%;

}

.dimage{
  position: 'absolute';
  


 
}
.but22{
 background-color: transparent;
border: transparent;



}
.but22:hover{
  
  border: transparent;
}
.arr{
  background-color:#31363F; 

}

.not{
  display:inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
 width:20em;
 height:10em;
padding:2em;
 margin:3em;
 
 justify-content: center;
 align-items: center;
  background-color: #EEEEEE;
  color:#222831;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border:5px solid #222831;
}
.not:hover{
  background-color:#76ABAE;
  color: #ffffff;
}
.not div{
 display:inline-flex;
 flex-direction: column;
flex-wrap: wrap;
width:90%;
justify-content: center;
align-items: center;
text-align: center;
}

.plusb{
 margin:2%;
 height:3em;
 width:3em;
background-color: #222831;
color:#EEEEEE;
border: 1px solid #EEEEEE;
  border-radius: 50%;
}
.plusb:hover{
  background-color:#575758;
color: #EEEEEE;
}
.a input{
  width:30%;
  height:5em;
  margin-left:3%;
  margin-top:2%;
  background-color: #EEEEEE;
  color:#222831;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  
}
a input:hover{
  background-color: #EEEEEE;
  color:#222831;
}
.bc{
  background-color: #df5757;
  color: #EEEEEE;
  border:1px solid
}
.bc:hover{
  background-color: #cc0d0dce; }


 /* MyComponent.css */
.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 25px;
  background: #31363F;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
 border: 2px solid  #222831;
margin-left:40px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #EEEEEE;
  cursor: pointer;
  border: 1px solid  #222831;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50; /* Slider thumb color */
  cursor: pointer;
}
.myshow{
  display:inline-flex;
 flex-direction: row;
  flex-wrap: wrap;
 width:20%;
}
.but7{

margin-left:2%;
  width: 40px;
  height: 40px;
  background-image: conic-gradient(red, yellow, green, blue, black);
  color: #EEEEEE;
  border-radius: 25px;
  border-color: #222831;
  font-weight: bold;
  font-size: large;
}
#colorPicker2{
  width:35px;
  height:35px;
  border-radius: 50%;

}
.tooltip {
  
  position: relative;
 
 
}
.tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  background-color:#EEEEEE;
  color: #222831;
 left:50px;
 top:30px;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  visibility: hidden;
  z-index: 1;
}

.tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}

button:hover{
  background-color:#5b7779;
}
#myRange2 input:hover{
  background-color:#5b7779;
}
#colorPicker{
  height:3em;
  width:5em;
  margin-top: 5px;
}
#size{
  margin-left:10px;
  margin-right:10px;
}
#myRange2 {
 margin:10%;
 width:100%;
}
#shortkeys{
  display:inline-flex;
  flex-direction: column;
  position:absolute;
  top:14%;
  left:1550px;
  background-color:#76ABAE;
  border:1px solid #EEEEEE;
 font-weight: bold;
border-radius: 30px;
width:11%;
transition:width 2s;
  text-align: center;
  

}
#noshortkeys{
  display:none;

}
#shortkeys:hover{

  background-color: #5b7779;
  color:#EEEEEE;
  border:1px solid #EEEEEE;

}
#buthelp{
  margin-right:1%;
  margin-left:1%;

 
}
.all{
  width:fit-content;
}